*{
   margin: 0;
   padding: 0;
}
body{
   min-height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: white;
}
/*navbar*/
nav{
   background-color: white;
   box-shadow: 3px 3px 5px rgba(0, 0,0, 0.1);
}
nav ul{
   width: 95%;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px;
}
nav li{
   height: 70px;
}
nav a{
   height: 95%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   align-items: center;
   color: black;
}
nav a:hover{
   background-color:black;
   color: white;
   transition:  all 2s;
   border-radius: 50px;
}
nav li:first-child{
   margin-right: auto;
}
.sidebar{
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: white;
   backdrop-filter: blur(10px);
   box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;


}
.sidebar li{
   width: 100%;
}
.sidebar a{
   width: 100%;
}
.menu-button{
   display: none;
}
/*header*/
.tooth{
  background-color: lightgray;
  padding: 150px 15px;
  background-position: 100%;
  text-align: center;
}
h1{
   padding:  20px 30px;
}
h2{
  padding-bottom: 20px;
}
.birds{
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 12px;
  outline: none;
  margin-top: 15px;
}
button a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.books{
  font-size: 18px;
}


@media (max-width:800px){
   .hideonmobile{
       display: none;
   }
   .menu-button{
       display: block;
   }

}

@media (max-width:400px){
   .sidebar{
       width:100%;
   }
}